<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartairsetup">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAirSetup">
        <activity
            android:name=".provider_home_ui.ProviderTriageIncidentsActivity"
            android:exported="false" />
        <activity
            android:name=".history.IncidentLogActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderTriggersActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderControllerSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderChartsActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderPefActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderSymptomsActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderRescueLogsActivity"
            android:exported="false" />
        <activity
            android:name=".technique.TechniqueTraining"
            android:exported="false" />
        <activity
            android:name=".technique.TechniqueTrainingVideo"
            android:exported="false" />
        <activity
            android:name=".child_home_ui.ChildSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home_ui.ParentSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".triage.RecordMedicationTriage"
            android:exported="false" />
        <activity
            android:name=".medlog.RecordMedUsageActivity"
            android:exported="false" />
        <activity
            android:name=".medlog.PrePostCheckActivity"
            android:exported="false" />
        <activity
            android:name=".triage.RecheckActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home_ui.ProviderChildPortalActivity"
            android:exported="false" />
        <activity
            android:name=".medlog.MedicationInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".medlog.AddEditMedicationActivity"
            android:exported="false" />
        <activity
            android:name=".checkin.DailyCheckIn"
            android:exported="false" /> <!-- Add-child screen (parent-only) -->
        <activity
            android:name=".login.AddChildActivity"
            android:exported="false" /> <!-- Signup screen -->
        <activity
            android:name=".login.SignupActivity"
            android:exported="false" /> <!-- Login screen -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity2"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity3"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity4"
            android:exported="false" /> <!-- Main launcher screen -->
        <activity
            android:name=".sharing.ShareWithProviderActivity"
            android:exported="false" /> <!-- Parent -->
        <activity
            android:name=".provider_home_ui.ProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home_ui.ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home_ui.ParentFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".badges.ParentBadgeSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".child_home_ui.ChildHomeActivity"
            android:exported="false" />
        <activity
            android:name=".child_home_ui.ChildFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".badges.ChildBadgesActivity"
            android:exported="false" /> <!--  -->
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".pb.PBActivity"
            android:exported="false" />
        <activity
            android:name=".pef.PEFActivity"
            android:exported="false" />
        <activity
            android:name=".triage.EmergencySelectorActivity"
            android:exported="false" />
        <activity
            android:name=".triage.GreenCardActivity"
            android:exported="false" />
        <activity
            android:name=".triage.YellowCardActivity"
            android:exported="false" />
        <activity
            android:name=".triage.RedCardActivity"
            android:exported="false" />
        <activity
            android:name=".triage.OptionalDataActivity"
            android:exported="false" />
        <activity
            android:name=".triage.EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".zone.ZoneActivity"
            android:exported="false" />
        <activity
            android:name=".zone.ZoneActivityChild"
            android:exported="false" />
        <activity
            android:name=".triage.EmergencySelectorActivity_Child"
            android:exported="false" />
        <activity
            android:name=".triage.OptionalDataActivity_Child"
            android:exported="false" />
        <activity
            android:name=".triage.EmergencyActivity_Child"
            android:exported="false" />
        <activity
            android:name=".triage.RedFlagsActivity_Child"
            android:exported="false" />
        <activity
            android:name=".medlog.MedicationReportActivity"
            android:exported="false" />
        <activity
            android:name=".child_home_ui.ChildOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".medlog.ControllerScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".sharing.SymptomTrendActivity"
            android:exported="false" />
        <activity
            android:name=".triage.RedFlagsActivity"
            android:exported="false" />
        <activity
            android:name=".pdf.PDFStoreActivity"
            android:exported="false" />
        <activity
            android:name=".medlog.ControllerLogActivity"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".provider_home_ui.ProviderInviteAcceptActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Custom scheme deep link -->
                <data
                    android:host="invite"
                    android:scheme="smartair" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sharing.InviteProviderActivity"
            android:exported="false" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>